/emacs/.config/emacs/straight/
/emacs/.config/emacs/eln-cache/
/emacs/.config/emacs/ido.last
/emacs/.config/emacs/auto-save-list/
/emacs/.config/emacs/history
/emacs/.config/emacs/transient/
/emacs/.config/emacs/recentf
/emacs/.config/emacs-projects-list
/emacs/.config/emacs/forge-database.sqlite
/emacs/.config/emacs/share/
/emacs/.config/emacs/tree-sitter/
/emacs/.config/emacs/debug-adapters/
